# Game Boy Pocket - Fullscreen scale for Onion OS - Retroarch
# 
# Use with Settings > Video > Video Filter > GBA > Filters for overlays > GBAOffset.filt
# 
# Overlay created by drkhrse for use with Miyoo Mini Plus
# 
# Original logos, artwork and trademarks are property of their respective owners. 
# Not for commercial use.

overlays = 1
overlay0_overlay = GBP.png
overlay0_full_screen = true
overlay0_descs = 0
